<table class="table" role="table">
  <thead role="rowgroup">
  <tr role="row">
    <th *ngFor="let header of tableData.headers" role="columnheader">
      {{ header.key }}</th>
  </tr>
  </thead>
  <tbody role="rowgroup">
  <tr *ngFor="let row of tableData.data" role="row">
    <td *ngFor="let header of tableData.headers" role="cell">
      {{ row[header.key] }}
    </td>
  </tr>
  <tr role="row">
    <td role="cell">Francesca</td>
    <td role="cell">Jared</td>
    <td role="cell">Brautkleid</td>
    <td role="cell">Bräutigam</td>
    <td role="cell">SBB 1. Klasse</td>
    <td role="cell">Konzert von Rammstein</td>
  </tr>
  <tbody>
</table>
