<table class="table" role="table">
  <thead role="rowgroup">
  <tr role="row">
    <th role="columnheader">Woman</th>
    <th role="columnheader">Men</th>
    <th role="columnheader">Dress Woman</th>
    <th role="columnheader">Dress Men</th>
    <th role="columnheader">Transport</th>
    <th role="columnheader">Activity</th>
  </tr>
  </thead>
  <tbody role="rowgroup">
  <tr role="row">
    <td role="cell">Sarah</td>
    <td role="cell">Tom</td>
    <td role="cell">Vorhang</td>
    <td role="cell">Strassenpenner</td>
    <td role="cell">Taxi</td>
    <td role="cell">Am Rhein ein Feuer zünden</td>
  </tr>
  <tr role="row">
    <td role="cell">Francesca</td>
    <td role="cell">Jared</td>
    <td role="cell">Brautkleid</td>
    <td role="cell">Bräutigam</td>
    <td role="cell">SBB 1. Klasse</td>
    <td role="cell">Konzert von Rammstein</td>
  </tr>
  <tbody>
</table>
