span {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2px;
}

button {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

img {
  width: 50px;
  height: 50px;
}

img:hover {
  width: 35px;
  height: 35px;
}

textarea {
  margin-left: 10px;
  max-width: 400px; /*muss responsive sein*/
  max-height: 100px;
  display: block;
  overflow-y: scroll;
  resize: both;
  min-width: 160px;
  min-height: 40px;
  line-height: 20px;
}

form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  inline-size: min-content;

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    fill: #888;

    &:hover {
      box-shadow: 0 4px 17px #00000059;
      transform: translateY(-3px);
      fill: #696767FF;
    }

    button#ovary:hover {
      border-color: #ff5082;
    }

    button#penis:hover {
      border-color: #f8c2c2;
    }

    button#dress:hover {
      border-color: #aae5c8;
    }

    button#tie:hover {
      border-color: #c8c3e1;
    }

    button#taxi:hover {
      border-color: #ffe773;
    }

    button#rocket:hover {
      border-color: #d3dce5;
    }

    .validate-input {
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;

      &:hover {
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 4px;
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
        transform: translateY(-3px);
        fill: rgb(0, 0, 0);
        border: 4px solid rgba(105, 103, 103, 0.35);
        border-radius: 20px;

        .icon {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}

/* ----------- 4k ----------- */
@media screen and (min-width: 1440px) {
  .validate-input {
    cursor: pointer;
  }
}

/* ----------- Laptop L ----------- */
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .validate-input {
    cursor: pointer;
  }
}
