:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0;
}

p {
  margin: 0;
}

span {
  font-weight: bold;
  text-transform: uppercase;
}

svg {
  &#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  &#shuffle {
    margin-top: 31px;

    .shadow {
      fill: #FF5082;
    }
  }
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #0F0F10FF;
  color: white;
  font-weight: 600;
  border-radius: 0 0 15px 15px;
  padding-top: 45px;

  &:before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: #3A3A3AFF;
    color: #C2C3C4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  img {
    margin: 0 16px;
  }

  pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }
}

.content {
  display: flex;
  margin: 120px auto 70px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;

  .wrap-card {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 15px;
      inline-size: min-content;

      .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        fill: #888;

        &:hover {
          box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
          transform: translateY(-3px);
          fill: rgb(105, 103, 103);
        }

        textarea {
          margin-left: 10px;
          max-width: 400px; /*muss responsive sein*/
          max-height: 100px;
          display: block;
          overflow: hidden;
          resize: both;
          min-height: 40px;
          line-height: 20px;
        }
      }
    }
  }


  table {
    border: 1px ridge #C0C0C0;
    border-collapse: collapse;
    border-radius: 6px 6px 0 0;
    margin-top: 15px;
    padding: 5px;
    width: 80%;

    thead {
      tr:first-child, th:first-child {
        border-radius: 10px 0 0 0;
      }

      tr:first-child th:last-child {
        border-radius: 0 10px 0 0;
      }

      background: #3A3A3A;
      color: #FFFFFF;
      border: hidden;
      font-weight: bold;
      text-transform: uppercase;

      th {
        padding: 5px;
        border: 1px ridge #FFFFFF;
        text-align: left;
      }
    }

    tbody {
      border: hidden;

      tr {
        &:nth-of-type(odd) {
          /* Zebra striping */
          background: #EEEEEE;
        }

        &:nth-of-type(even) {
          /* Zebra striping */
          background: #3A3A3A;
          color: #EEEEEE;
        }

        td {
          padding: 5px;
          border: 1px ridge #FFFFFF;
          text-align: left;
        }
      }
    }
  }
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px 6px 0 0;
  padding-top: 16px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
  font-weight: 600;

  pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }
}

/* ----------- 4k ----------- */
@media screen and (min-device-width: 1440px) {

}

/* ----------- Laptop L ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1440px) {

}

/* ----------- Laptop ----------- */
@media screen and (max-width: 1200px) {

}

/* ----------- Tablet ----------- */
@media only screen and (max-width: 768px) {

}

/* ----------- Mobile L ----------- */
@media screen and (max-width: 425px) {

}

/* ----------- Mobile S ----------- */
@media screen and (max-width: 320px) {

}
