button {
  border: none;
  background-color: transparent;
}

svg {
  &#shuffle {
    margin-top: 15px;
    @keyframes color-shuffle {
      0% {
        fill: #ff5082;
      }
      20% {
        fill: #f8c2c2;
      }
      40% {
        fill: #aae5c8;
      }
      60% {
        fill: #c8c3e1;
      }
      80% {
        fill: #ffe773;
      }
      100% {
        fill: #d3dce2;
      }
    }

    .shadow {
      fill: #ff5082;

      &:hover {
        animation-name: color-shuffle;
        animation-duration: 2s;
      }
    }
  }
}

/* ----------- 4k ----------- */
@media screen and (min-width: 1440px) {
  svg#shuffle {
    cursor: pointer;
  }
}

/* ----------- Laptop L ----------- */
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  svg#shuffle {
    cursor: pointer;
  }

}
